
<a href="https://github.com/{{ site.github }}" class="allignable pull-right" target="_blank">
    <i class="fab fa-github fa-2x" style="color:black;"></i></a>
<a href="https://linkedin.com/in/{{ site.linkedin }}" class="allignable pull-right" target="_blank">
    <i class="fab fa-linkedin fa-2x" style="color:black;"></i></a>
<a href="https://twitter.com/{{ site.twitter}}" class="allignable pull-right" target="_blank">
    <i class="fab fa-twitter fa-2x" style="color:black;"></i></a>
<a href="https://medium.com/@{{ site.medium}}" class="allignable pull-right" target="_blank">
    <i class="fab fa-medium fa-2x" style="color:black;"></i></a>
<a href="mailto:{{ site.mail}}" class="allignable pull-right" target="_blank">
    <i class="fas fa-envelope fa-2x" style="color:black;"></i></a>